.wrapper 
	width: 1024px
	margin: 1px auto
	font-family: Arial


#fullName 
	font-weight: bold
	font-size: 150%


#nameAndJob 
	margin-left: 10px


.avatar-small 
	width: 100px
	height: 100px


.avatar-big 
	width: 200px
	height: 200px


#viewButton 
	width: 100px
	height: 40px
	margin: 25px

.hidden-overflow 
	overflow: hidden


.pagination 
	position: absolute
	top: 530px
	left: 44%


.width-10 
	width: 10%


.width-20 
	width: 20%


.width-30 
	width: 30%


.width-40 
	width: 40%


.width-50 
	width: 50%


.width-60 
	width: 60%


.pull-left 
	float: left


.pull-right 
	float: right


.step-buttons 
	background: rgba(0,0,0,0)
	border: solid 1px #000000
	border-radius: 10px
	margin-right: -5px


#speechDiv
	float: left
	margin-top: -80px


p.speech

	position: relative
	width: 200px
	height: 100px
	text-align: center
	line-height: 100px
	background-color: #fff
	border: 8px solid #666
	-webkit-border-radius: 30px
	-moz-border-radius: 30px
	border-radius: 30px
	-webkit-box-shadow: 2px 2px 4px #888
	-moz-box-shadow: 2px 2px 4px #888
	box-shadow: 2px 2px 4px #888



p.speech:before

	content: ' '
	position: absolute
	width: 0
	height: 0
	left: 30px
	top: 100px
	border: 25px solid
	border-color: #666 transparent transparent #666


p.speech:after

	content: ' '
	position: absolute
	width: 0
	height: 0
	left: 38px
	top: 100px
	border: 15px solid
	border-color: #fff transparent transparent #fff


#search

	margin-top: 25px


#search div

	margin-left: 10px
	margin-top: -7px


#search div button

	height: 38px
	width: 50px


#search div input

	height: 30px
