{% load staticfiles %}

<!doctype html>
<html>
<head>
  {% block base_style %}
  	<link rel="stylesheet" type="text/css" href="{% static 'styles/accounts.css' %}" />
  {% endblock base_style %}
  <title>{% block title %}{% endblock title %}</title>
 </head>
 {% block body %}
 <body>
 	<a href="{% url 'accounts:logout' %}">Logout</a>
 	{% block main_content %}
 	{% endblock main_content %}
 </body>
{% endblock body %}
</html>