{% extends 'base.html' %}

{% block title %}User Profile{% endblock title %}

{% block main_content %}
<div class="wrapper">
<h2>USER PROFILE</h2>
<div class="pull-left width-20">
	{% if account.avatar %}
		<img class="avatar-big" src="{{account.avatar.url}}">
	{% else %}
		<img class="avatar-big" src="{{ MEDIA_URL }}user_avatar\default_avatar.png">
	{% endif %}
</div>  
<div id="speechDiv" class="width-30">
<p class="speech">
<label>My name is </label>
{{account.user.first_name}} {{account.user.last_name}}
</p>
</div>
<div class="pull-left">
<p> Region: {{account.region}}</p>
<p> Interests:  {{account.interest}}</p>
<p> Specialism: {{account.specialism}}</p>
</div>
</div>
{% endblock main_content %}