<h2>Login Page</h2>
{% if error_message %}
	<p>{{error_message}}</p>
{% endif %}
<form action = "{% url 'accounts:login' %}" method = "post">
{% csrf_token %}
<label for = "username">Username</label>
<input type = "text" id = "username" name = "username">
<br/>
<label for = "password">Password</label>
<input type = "password" id = "password" name = "password">
<br/>
<input type ="checkbox" name="remember" value="yes"/>
<span>Remember me</span>
<input type = "submit" value = "Login"/>
<input type = "hidden" name = "next" value = {{next}}/> 
</form>
