{% extends 'base.html' %}

{% block title %}User List{% endblock title %}

{% block main_content %}
<div class ="wrapper">
<div class="hidden-overflow">
<h2 class="width-30 pull-left">Member directory</h2>
<div id="search" class="pull-right">
  <span>Search members</span>
  <div class="pull-right">
  <form method="get">
 		<input name="q" type="text" placeholder="Member name"/> 
   		<button type="submit">Go</button>
  </form>
  </div>
</div>
</div>
{% for account in accounts %}
<hr>
<div class="hidden-overflow">
	<div class="width-10 pull-left">
	{% if account.avatar %}
		<img class ="avatar-small" src="{{account.avatar.url}}">
	{% else %}
		<img class ="avatar-small" src="{{ MEDIA_URL }}user_avatar\default_avatar.png">
	{% endif %}
	</div>  
	<div id="nameAndJob" class="width-20 pull-left">
		<div id="fullName">
		{{account.user.first_name}} {{account.user.last_name}}
		</div>
		{{account.job_title}}
	</div>
	<div class="pull-right">
		<input id="viewButton" type="button" onclick="location.href='{{account.id}}';" value="View"/>
	</div>
</div>
{% endfor %}
</div>
{% if accounts.paginator.num_pages > 1 %}
<div class="pagination">
    <span>
        {% if accounts.has_previous %}
            <input class="step-buttons" type="button" onclick="location.href='?q={{ request.GET.q }}&amp;page={{ accounts.previous_page_number }}';" value="Previous"/>
        {% else %}
             <button class="step-buttons" type="button" disabled>Previous</button>
        {% endif %}
        {% for i in 'x'|ljust:accounts.paginator.num_pages %}
            <input class="step-buttons" type="button" onclick="location.href='?q={{ request.GET.q }}&amp;page={{ forloop.counter }}';" value="{{ forloop.counter }}"/>
        {% endfor %}
        {% if accounts.has_next %}
             <input class="step-buttons" type="button" onclick="location.href='?q={{ request.GET.q }}&amp;page={{ accounts.next_page_number }}';" value="Next"  />
        {% else %}
             <button class="step-buttons" type="button" disabled>Next</button>
        {% endif %}
    </span>
</div>
{% endif %}
{% endblock main_content %}