<title>Register page</title>
<h2>Register Page</h2>
<form enctype="multipart/form-data" action = "{% url 'accounts:register' %}" method = "post">
{% csrf_token %}
    {{ form.as_p }}
    <input type ="submit" value="Register">
    
</form>