/* line 1, ../../sass/accounts.sass */
.wrapper {
  width: 1024px;
  margin: 1px auto;
  font-family: Arial;
}

/* line 7, ../../sass/accounts.sass */
#fullName {
  font-weight: bold;
  font-size: 150%;
}

/* line 12, ../../sass/accounts.sass */
#nameAndJob {
  margin-left: 10px;
}

/* line 16, ../../sass/accounts.sass */
.avatar-small {
  width: 100px;
  height: 100px;
}

/* line 21, ../../sass/accounts.sass */
.avatar-big {
  width: 200px;
  height: 200px;
}

/* line 26, ../../sass/accounts.sass */
#viewButton {
  width: 100px;
  height: 40px;
  margin: 25px;
}

/* line 31, ../../sass/accounts.sass */
.hidden-overflow {
  overflow: hidden;
}

/* line 35, ../../sass/accounts.sass */
.pagination {
  position: absolute;
  top: 530px;
  left: 44%;
}

/* line 41, ../../sass/accounts.sass */
.width-10 {
  width: 10%;
}

/* line 45, ../../sass/accounts.sass */
.width-20 {
  width: 20%;
}

/* line 49, ../../sass/accounts.sass */
.width-30 {
  width: 30%;
}

/* line 53, ../../sass/accounts.sass */
.width-40 {
  width: 40%;
}

/* line 57, ../../sass/accounts.sass */
.width-50 {
  width: 50%;
}

/* line 61, ../../sass/accounts.sass */
.width-60 {
  width: 60%;
}

/* line 65, ../../sass/accounts.sass */
.pull-left {
  float: left;
}

/* line 69, ../../sass/accounts.sass */
.pull-right {
  float: right;
}

/* line 73, ../../sass/accounts.sass */
.step-buttons {
  background: transparent;
  border: solid 1px black;
  border-radius: 10px;
  margin-right: -5px;
}

/* line 80, ../../sass/accounts.sass */
#speechDiv {
  float: left;
  margin-top: -80px;
}

/* line 85, ../../sass/accounts.sass */
p.speech {
  position: relative;
  width: 200px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  background-color: white;
  border: 8px solid #666666;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 4px #888888;
  -moz-box-shadow: 2px 2px 4px #888888;
  box-shadow: 2px 2px 4px #888888;
}

/* line 103, ../../sass/accounts.sass */
p.speech:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: 30px;
  top: 100px;
  border: 25px solid;
  border-color: #666666 transparent transparent #666666;
}

/* line 115, ../../sass/accounts.sass */
p.speech:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: 38px;
  top: 100px;
  border: 15px solid;
  border-color: white transparent transparent white;
}

/* line 127, ../../sass/accounts.sass */
#search {
  margin-top: 25px;
}

/* line 132, ../../sass/accounts.sass */
#search div {
  margin-left: 10px;
  margin-top: -7px;
}

/* line 138, ../../sass/accounts.sass */
#search div button {
  height: 38px;
  width: 50px;
}

/* line 144, ../../sass/accounts.sass */
#search div input {
  height: 30px;
}
